# URL Rewriting = enable #
RewriteEngine On

# Force HTTPS #
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R=301,L]

# Remove php extension #
# RewriteCond %{REQUEST_FILENAME} !-f #
# RewriteRule ^([^\.]+)$ $1.php [NC,L] #